{% extends "index.html" %}

{% block title %}
    Teachers
{% endblock %}

{% block content %}
    <a type="button" class="btn btn-primary" href="{% url "teachers:create_teacher" %}">+Add new</a>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Birth date</th>
            <th scope="col">Age</th>
            <th scope="col">Phone</th>
            <th scope="col">Course</th>
            <th scope="col">Group</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for teacher in teacher_list %}
            <tr>
                <th><img src="{{ teacher.get_photo_url }}" alt="ava" width="32" height="32" class="rounded-circle"></th>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                {% if teacher.birth_date %}
                    <td>{{ teacher.birth_date }}</td>
                    <td>{{ teacher.age }}</td>
                {% else %}
                    <td>Undefined</td>
                    <td>Undefined</td>
                {% endif %}
                <td>{{ teacher.phone }}</td>
                <td>{{ teacher.course }}</td>
                <td>
                    {% for group in teacher.group.all %}
                        <a href="{% url "groups:update_group" group.pk %}">{{ group.group_name }}</a>
                    {% endfor %}
                </td>
                <td>
                    <a type="button" class="btn btn-warning"
                       href="{% url "teachers:update_teacher" teacher.pk %}">Edit</a>
                </td>
                <td><a type="button" class="btn btn-danger"
                       href="{% url "teachers:delete_teacher" teacher.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}