{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Create
{% endblock %}

{% block content %}
    <div>
        <form method="POST" enctype="multipart/form-data" style="width: 25em; align-content: center; margin: auto;">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" value="Register" style="margin: 10px;">Register
            </button>
        </form>
    </div>
{% endblock content %}