{% extends "index.html" %}

{% block title %}
    Groups
{% endblock %}

{% block content %}
    <a type="button" class="btn btn-primary" href="{% url "groups:create_group" %}">+Add new</a>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Course name</th>
            <th scope="col">Start date</th>
            <th scope="col">Group name</th>
            <th scope="col">Lessons</th>
            <th scope="col">Students qty</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for group in group_list %}
            <tr>
                <th scope="row">{{ group.pk }}</th>
                <td>{{ group.course_name }}</td>
                <td>{{ group.start_date }}</td>
                <td>{{ group.group_name }}</td>
                <td>{{ group.lessons }}</td>
                <td>{{ group.students_qty }}</td>
                <td><a type="button" class="btn btn-warning"
                       href="{% url "groups:update_group" group.pk %}">Edit</a>
                </td>
                <td><a type="button" class="btn btn-danger"
                       href="{% url "groups:delete_group" group.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}