{% extends "index.html" %}

{% block title %}
    Students
{% endblock %}

{% block content %}
    <form method="POST">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" class="btn btn-danger" value="Confirm"/>
        <input type="button" class="btn btn-secondary" onClick="history.go(-1);" value="Cancel"/>
    </form>
{% endblock content %}