{% extends "index.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{ user.profile.get_photo_url }}" alt="avatar"
                                     class="rounded float-left" width="150">
                                <div class="mt-3 text-dark">
                                    <h4>{{ user.username }}</h4>
                                    <p class="text-secondary mb-1">{{ user.profile.user_type }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user.profile.github or user.profile.facebook %}
                        <div class="card mt-3">

                            <ul class="list-group list-group-flush">
                                {% if user.profile.github %}
                                    <a class="text-decoration-none text-reset" href="{{ user.profile.github }}"
                                       target="_blank">
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="feather feather-github mr-2 icon-inline">
                                                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                                                </svg>
                                                Github
                                            </h6>
                                            {#                                    <span class="text-secondary">bootdey</span>#}
                                        </li>
                                    </a>
                                {% endif %}
                                {% if user.profile.facebook %}
                                    <a class="text-decoration-none text-reset" href="{{ user.profile.facebook }}"
                                       target="_blank">
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="feather feather-facebook mr-2 icon-inline text-primary">
                                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                                </svg>
                                                Facebook
                                            </h6>
                                            {#                                    <span class="text-secondary">bootdey</span>#}
                                        </li>
                                    </a>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">Name</h6>
                                </div>
                                <div class="col-sm-9 text-dark">
                                    {{ user.first_name }}
                                </div>
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">Surname</h6>
                                </div>
                                <div class="col-sm-9 text-dark">
                                    {{ user.last_name }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">Email</h6>
                                </div>
                                <div class="col-sm-9 text-dark">
                                    {{ user.email }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-dark">
                                    {{ user.profile.phone_number }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-secondary">City</h6>
                                </div>
                                <div class="col-sm-9 text-dark">
                                    {{ user.profile.city }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-warning"
                                       href="{% url 'profile-update' user.profile.id %}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
