{% extends "index.html" %}

{% block title %}
    Search results
{% endblock %}

{% block content %}
    <div>
        {% if searched %}
            <h4>What was found on request "{{ searched }}"</h4>
            {% for student in students %}
                <a href="{% url "students:update_student" student.pk %}"> {{ student }}</a><br>
            {% endfor %}
        {% else %}
            You forgot to search
        {% endif %}
    </div>
{% endblock content %}