{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Update information
{% endblock %}

{% block content %}
    <div>
        <form method="POST" enctype="multipart/form-data" style="width: 25em; align-content: center; margin: auto;">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" value="Create" style="margin-top: 20px;">Save</button>
            <button type="button" class="btn btn-secondary" onClick="history.go(-1);" value="Cancel"
                    style="margin-top: 20px;">Cancel
            </button>
        </form>
    </div>
{% endblock content %}