{% load inlinecss %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title></title>
    <!--[if (mso 16)]>
    <style type="text/css">
        a {
            text-decoration: none;
        }
    </style>
    <![endif]-->
    <!--[if gte mso 9]>
    <style>sup {
        font-size: 100% !important;
    }</style><![endif]-->
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG></o:AllowPNG>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
</head>

<body data-new-gr-c-s-loaded="14.1078.0">
<div class="es-wrapper-color">
    <!--[if gte mso 9]>
    <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
        <v:fill type="tile" color="#f4f4f4"></v:fill>
    </v:background>
    <![endif]-->
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
        <tr class="gmail-fix" height="0">
            <td>
                <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                    <tr>
                        <td cellpadding="0" cellspacing="0" border="0" style="line-height: 1px; min-width: 600px;"
                            height="0"><img
                                src="https://tlr.stripocdn.email/content/guids/CABINET_837dc1d79e3a5eca5eb1609bfe9fd374/images/41521605538834349.png"
                                style="display: block; max-height: 0px; min-height: 0px; min-width: 600px; width: 600px;"
                                alt width="600" height="1"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="esd-email-paddings" valign="top">
                <table class="es-header esd-header-popover" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                    <tr>
                        <td class="esd-stripe" esd-custom-block-id="6339" align="center" bgcolor="#0b5394"
                            style="background-color: #0b5394;">
                            <table class="es-header-body" width="600" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td class="esd-structure es-p20t es-p10b es-p10r es-p10l" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="580" valign="top" align="center">
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td class="esd-block-image es-p25t es-p25b es-p10r es-p10l"
                                                                align="center" style="font-size: 0px;"><a href
                                                                                                          target="_blank"><img
                                                                    src="https://demo.stripocdn.email/content/guids/videoImgGuid/images/7331519201751184_hUc.png"
                                                                    alt style="display: block;" width="40"></a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                    <tr>
                        <td class="esd-stripe" style="background-color: #0b5394;" esd-custom-block-id="6340"
                            bgcolor="#0b5394" align="center">
                            <table class="es-content-body" style="background-color: transparent;" width="600"
                                   cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td class="esd-structure" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="600" valign="top" align="center">
                                                    <table style="background-color: #ffffff; border-radius: 4px; border-collapse: separate;"
                                                           width="100%" cellspacing="0" cellpadding="0"
                                                           bgcolor="#ffffff">
                                                        <tbody>
                                                        <tr>
                                                            <td class="esd-block-text es-p35t es-p5b es-p30r es-p30l"
                                                                align="center">
                                                                <h1>Welcome!</h1>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="esd-block-spacer es-p5t es-p5b es-p20r es-p20l"
                                                                bgcolor="#ffffff" align="center" style="font-size:0">
                                                                <table width="100%" height="100%" cellspacing="0"
                                                                       cellpadding="0" border="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="border-bottom: 1px solid #ffffff; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 1px; width: 100%; margin: 0px;"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                    <tr>
                        <td class="esd-stripe" align="center">
                            <table class="es-content-body" style="background-color: transparent;" width="600"
                                   cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td class="esd-structure" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="600" valign="top" align="center">
                                                    <table style="border-radius: 4px; border-collapse: separate; background-color: #ffffff;"
                                                           width="100%" cellspacing="0" cellpadding="0"
                                                           bgcolor="#ffffff">
                                                        <tbody>
                                                        <tr>
                                                            <td class="esd-block-text es-p20t es-p20b es-p30r es-p30l es-m-txt-l"
                                                                bgcolor="#ffffff" align="left">
                                                                <p>We're excited to have you get started. First, you
                                                                    need to confirm your account. Just press the button
                                                                    below.</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="esd-block-button es-p35t es-p35b es-p10r es-p10l"
                                                                align="center" bgcolor="#ffffff"><span
                                                                    class="es-button-border"><a
                                                                    href="http://
                                                                            {{ domain }}{% url 'activate_user' uuid64=uid token=token %}"
                                                                    class="es-button es-button-1662047440397"
                                                                    target="_blank"
                                                                    style="border-width: 15px 30px; background: #0b5394; border-color: #0b5394; color: #ffffff;"> Confirm Account</a></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="esd-block-text es-p20t es-p30r es-p30l es-m-txt-l"
                                                                align="left">
                                                                <p>If that doesn't work, copy and paste the following
                                                                    link in your browser:</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="esd-block-text es-p20t es-p30r es-p30l es-m-txt-l"
                                                                align="left" esd-links-color="#0b5394"><a
                                                                    target="_blank" href="http://
                                                                    {{ domain }}{% url 'activate_user' uuid64=uid token=token %}"
                                                                    style="color: #0b5394;">http://{{ domain }}{% url 'activate_user' uuid64=uid token=token %}</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="esd-block-text es-p20t es-p30r es-p30l es-m-txt-l"
                                                                align="left">
                                                                <p>If you have any questions, just reply to this
                                                                    email—we're always happy to help out.</p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                    <tr>
                        <td class="esd-stripe" align="center">
                            <table class="es-content-body" style="background-color: transparent;" width="600"
                                   cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td class="esd-structure" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="600" valign="top" align="center">
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td class="esd-block-spacer es-p10t es-p20b es-p20r es-p20l"
                                                                align="center" style="font-size:0">
                                                                <table width="100%" height="100%" cellspacing="0"
                                                                       cellpadding="0" border="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="border-bottom: 1px solid #f4f4f4; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 1px; width: 100%; margin: 0px;"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="es-content esd-footer-popover" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                    <tr>
                        <td class="esd-stripe" esd-custom-block-id="6341" align="center">
                            <table class="es-content-body" style="background-color: transparent;" width="600"
                                   cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td class="esd-structure" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="600" valign="top" align="center">
                                                    <table style="background-color: #ffecd1; border-radius: 4px; border-collapse: separate;"
                                                           width="100%" cellspacing="0" cellpadding="0"
                                                           bgcolor="#ffecd1">
                                                        <tbody>
                                                        <tr>
                                                            <td class="esd-block-text es-p30t es-p30r es-p30l"
                                                                align="center">
                                                                <h3 style="color: #111111;">Need more help?</h3>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="esd-block-text es-p30b es-p30r es-p30l"
                                                                esdev-links-color="#ffa73b" align="center"
                                                                esd-links-color="#0b5394"><a target="_blank"
                                                                                             href="mailto:nekipielov@gmail.com"
                                                                                             style="color: #0b5394;">We’re
                                                                here, ready to talk</a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>